google-api-python-client>=2.150.0
google-auth>=2.35.0
google-auth-oauthlib>=1.2.1
google-auth-httplib2>=0.2.0
requests>=2.32.3
scenedetect[opencv]>=0.7.1,<0.8
spacy>=3.7,<4
git+https://github.com/Bindkushal/indic-g2p.git
git+https://github.com/Bindkushal/indic-voice.git
huggingface-hub>=0.32.0
hf-xet>=1.6.0
